
services:
  web:
    build: .
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    depends_on:
      - db
      - redis
      - mongo
    env_file:
      - .env
    environment:
      - POSTGRES_SERVER=db
      - MONGO_SERVER=mongo
      - REDIS_HOST=redis

  worker:
    build: .
    command: celery -A app.worker.celery_app worker --loglevel=info
    volumes:
      - .:/app
    depends_on:
      - db
      - redis
      - mongo
    env_file:
      - .env
    environment:
      - POSTGRES_SERVER=db
      - MONGO_SERVER=mongo
      - REDIS_HOST=redis

  db:
    image: pgvector/pgvector:pg16
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: T@lkerS3rv3r!2025
      POSTGRES_DB: talker
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  mongo:
    image: mongo:6.0
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  redis:
    image: redis:7.0
    ports:
      - "6379:6379"

volumes:
  postgres_data:
  mongo_data:
